body {
  background: #135050;
  color: white;
}
.container {
  width: 90vw;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 1rem;
  margin-bottom: 4rem;
  background: #333;
}

li {
  margin: 0 1rem;
  padding: 1rem;
}
li:hover {
  background: orangered;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  margin-top: 5rem;
}
